@import "colors";

body {
  background-color: $bg1;
  color: $base;
}

$h_colors: $head1, $head2, $head3, $head4;
@mixin code_blck () {
	color: $cblk;
	border-color: $border;
	background: $cblk-ln-bg;
	background-color: $cblk-ln-bg;
}

@for $i from 1 through length($h_colors) {
	h#{$i} { color: nth($h_colors, $i); }
}

code {
	@include code_blck();
}
.highlighter-rouge .highlight {
	@include code_blck();
}
.highlight {
	@include code_blck();
}

.highlighter-rouge {
	@include code_blck();
}

.post-title {
	color: $post-title
}

a {
	color: $a
}

a:visited {
	color: $a-visited
}

.site-title {
    color: $site-title;
}

.site-title:visited {
    color: $site-title;
}

.site-nav .page-link {
    color: $site-title
}

.site-footer {
	border-top: 1px solid $border;
}

.site-header {
	border-bottom: 1px solid $border;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	text-align: center
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}